---
layout: archive
title: "Teaching Experiences"
permalink: /teaching/
author_profile: true
---
{% include base_path %}

<br>

<h1> Instructor </h1>

  <ul>{% for post in site.teaching reversed %}
    {% include archive-single.html %}
  {% endfor %}</ul>

<br>

<h1> Teaching Assistant </h1>

  <ul>{% for post in site.ta reversed %}
    {% include archive-single.html %}
  {% endfor %}</ul>

* MBA7266: Business Game for Intensive Decision Making (Summer 2018)
  Yonsei University
* MBA6110, MBG6110, MBK6007: IT for Value Creation (Spring 2017, Spring 2018)
* BIZ3189: Management Information Systems (Spring 2017)
